In [47]:
print("                                                 PENGANTAR DATA SAINS")
print("Nama : Muhammad Rizky Saputra")
print("Kelas: 15.3A.01")
print("NIM  : 15240025")
print(" ")
print(" ")
print(" ")



import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 120)



df = pd.read_csv('titanic.csv')

print("=== 5 Data Teratas ===")
print(df.head())

print("=== Informasi Dataset ===")
print(df.info())

print("=== Statistik Deskriptif ===")
print(df.describe())

print("Jumlah Baris dan Kolom:", df.shape)



print("=== Jumlah Missing Value per Kolom ===")
print(df.isnull().sum())

print("=== Tipe Data Setiap Kolom ===")
print(df.dtypes)



df_clean = df.copy()


num_cols = df_clean.select_dtypes(include=[np.number]).columns
for col in num_cols:
    median_val = df_clean[col].median()
    df_clean[col] = df_clean[col].fillna(median_val)
    print(f"Imputasi median untuk kolom numerik: {col} = {median_val}")


obj_cols = df_clean.select_dtypes(include='object').columns
for col in obj_cols:
    mode_val = df_clean[col].mode()[0]
    df_clean[col] = df_clean[col].fillna(mode_val)
    print(f"Imputasi mode untuk kolom kategorikal: {col} = {mode_val}")

print("=== Cek Ulang Missing Value Setelah Imputasi ===")
print(df_clean.isnull().sum())



print("=== Statistik Tambahan ===")
print("Standar Deviasi:\n", df_clean.std(numeric_only=True))
print("\nVarian:\n", df_clean.var(numeric_only=True))

                                                 PENGANTAR DATA SAINS
Nama : Muhammad Rizky Saputra
Kelas: 15.3A.01
NIM  : 15240025



=== 5 Data Teratas ===
   survived  pclass                                               name     sex   age     fare  sibsp  parch
0         0       3                            Braund, Mr. Owen Harris    male  22.0   7.2500      1      0
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.2833      1      0
2         1       3                             Heikkinen, Miss. Laina  female  26.0   7.9250      0      0
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.1000      1      0
4         0       3                           Allen, Mr. William Henry    male  35.0   8.0500      0      0
=== Informasi Dataset ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   name      714 non-null    object
 3   sex       714 non-null    object
 4   age       714 non-null    float64
 5   fare      714 non-null    float64
 6   sibsp     714 non-null    int64
 7   parch     714 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 44.8+ KB
None
=== Statistik Deskriptif ===
         survived      pclass         age        fare       sibsp       parch
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118   34.694514    0.512605    0.431373
std      0.491460    0.838250   14.526497   52.918930    0.929783    0.853289
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    8.050000    0.000000    0.000000
50%      0.000000    2.000000   28.000000   15.741700    0.000000    0.000000
75%      1.000000    3.000000   38.000000   33.375000    1.000000    1.000000
max      1.000000    3.000000   80.000000  512.329200    5.000000    6.000000
Jumlah Baris dan Kolom: (714, 8)
=== Jumlah Missing Value per Kolom ===
survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64
=== Tipe Data Setiap Kolom ===
survived      int64
pclass        int64
name         object
sex          object
age         float64
fare        float64
sibsp         int64
parch         int64
dtype: object
Imputasi median untuk kolom numerik: survived = 0.0
Imputasi median untuk kolom numerik: pclass = 2.0
Imputasi median untuk kolom numerik: age = 28.0
Imputasi median untuk kolom numerik: fare = 15.7417
Imputasi median untuk kolom numerik: sibsp = 0.0
Imputasi median untuk kolom numerik: parch = 0.0
Imputasi mode untuk kolom kategorikal: name = Abbing, Mr. Anthony
Imputasi mode untuk kolom kategorikal: sex = male
=== Cek Ulang Missing Value Setelah Imputasi ===
survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64
=== Statistik Tambahan ===
Standar Deviasi:
 survived     0.491460
pclass       0.838250
age         14.526497
fare        52.918930
sibsp        0.929783
parch        0.853289
dtype: float64

Varian:
 survived       0.241533
pclass         0.702663
age          211.019125
fare        2800.413100
sibsp          0.864497
parch          0.728103
dtype: float64